# This sample code uses the Appium ruby client
# gem install appium_lib
# Then you can paste this into a file and simply run with Ruby

require 'rubygems'
require 'appium_lib'

caps = {}
caps["app"] = "/Users/<your-user-name>/repos/appium-workshop/playground/app-debug.apk"
caps["platformName"] = "Android"
caps["deviceName"] = "android"
opts = {
    sauce_username: nil,
    server_url: "http://localhost:4723/wd/hub"
}
driver = Appium::Driver.new({caps: caps, appium_lib: opts}).start_driver

el1 = driver.find_elements(:id, "ReferenceApp")
el1.click
el2 = driver.find_elements(:xpath, "(//android.widget.TextView[@content-desc=\"Row Category Name\"])[7]")
el2.click
el3 = driver.find_elements(:id, "com.amazonaws.devicefarm.android.referenceapp:id/notifications_alert_button")
el3.click
el4 = driver.find_elements(:id, "android:id/button1")
el4.click
el5 = driver.find_elements(:id, "ReferenceApp")
el5.click
el6 = driver.find_elements(:xpath, "(//android.widget.TextView[@content-desc=\"Row Category Name\"])[1]")
el6.click

driver.quit